@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--bg-color2);
}

:root {
    --bg-color: #00796B;
    --hover-color: #05a794;
    --color: white;
    --bg-color2: black;
}

body {
    min-height: 100vh;
    width: 100%;
background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
   
}

html {
    scroll-padding-top: 70px;
    /* Adjust this value according to your navbar height */
}

        .container {
            max-width: 800px;
            margin: auto;
            backdrop-filter: blur(10px);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    
        h2 {
            text-align: center;
            color: var(--bg-color2);
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    
        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }
    
        label {
            /* font-weight: bold; */
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: var(--bg-color2);
        }
    
        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 50px;
            font-size: 16px;
            border: 1px solid var(--bg-color);
            outline: none;
            transition: 0.3s ease;
            background: transparent;
        }
        ::placeholder{
            color: var(--color);
        }
                input:focus {
                    border-color: var(--bg-color);
                    box-shadow: 0 0 10px var(--hover-color);
                }
    
        h3{
            text-align:center;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 10px;
        }
    
        button {
            display: block;
            width: 100%;
            padding: 10px;
            background: var(--bg-color);
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }
    
        .btn:hover {
            background: var(--hover-color);
        }